@import "tailwindcss";
*{
    font-family:"Manrope", sans-serif;
}

.banner_section {
    background-image: url('../images/Rectangle\ 5.png'), url('../images/banner.png');
    background-repeat: no-repeat , no-repeat;
    background-position: center , center ;
    background-size: cover, cover;
}
.client_banner{
    background-image: url('../images/Rectangle\ 7.png'), url("../images/slider-1.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, cover;
}